/*Just some base styles not needed for example to function
CSS Tree menu styles*/
OL.tree
{
	padding: 0 0 0 30px;
	width: 300px;
	font-family: "Trebuchet MS";
}
LI
{
	position: inherit;
	margin-left: -15px;
	list-style: none;
}
LI.file
{
	margin-left: -1px !important;
}
LI.file A
{
	background: url(treeview/document.png) no-repeat 0 3px;
	padding-left: 21px;
	text-decoration: none;
	display: block;
}
LI.file A[href*='.pdf']
{
	background: url(treeview/document.png) no-repeat 0 0;
}
LI.file A[href*='.html']
{
	background: url(treeview/document.png) no-repeat 0 0;
}
LI.file A[href$='.css']
{
	background: url(treeview/document.png) no-repeat 0 0;
}
LI.file A[href$='.js']
{
	background: url(treeview/document.png) no-repeat 0 -3px;
}
LI INPUT
{
	position: absolute;
	left: 0;
	margin-left: 0;
	opacity: 0;
	z-index: 2;
	cursor: pointer;
	height: 1em;
	width: 1em;
	top: 0;
}
LI INPUT+OL
{
	background: url(treeview/toggle-small-expand.png) no-repeat 40px -3px;
	margin: -0.9em 0 0 -44px;
/*15px*/
	height: 1em;
}
LI INPUT+OL>LI
{
	display: none;
	margin-left: -14px !important;
	padding-left: 1px;
}
LI LABEL
{
	background: url(treeview/folder-horizontal.png) no-repeat 15px 4px;
	cursor: pointer;
	display: block;
	padding-left: 37px;
}
LI INPUT:checked+OL
{
	background: url(treeview/toggle-small.png) no-repeat 40px 3px;
	margin: -1.25em 0 0 -44px;
/*20px*/
	padding: 1.563em 0 0 80px;
	height: auto;
}
LI INPUT:checked+OL>LI
{
	display: block;
	margin: 0 0 0.12em;
}
LI INPUT:checked+OL>LI:last-child
{
	margin: 0 0 0.063em;
}
