<p>This is the partial for view 2.</p>
<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>

<svg ng-attr-height="{{graph.height}}" ng-attr-width="{{graph.width}}">  
    <circle ng-repeat="circle in circles" 
        ng-attr-cx="{{circle.x}}" ng-attr-fill="{{circle.fill}}" ng-attr-stroke="{{circle.stroke}}"
        ng-attr-cy="{{circle.y}}" 
        ng-attr-r= "{{circle.r}}" ng-mousedown="onmousedown(circle)" ng-mouseup="onmouseup(circle)" ng-mousemove="onmousemove($event,circle)">
    </circle>
</svg>
